<div class="center-div">
  <div class="card main">
    <div class="center-img">
      <img
        src="assets/mainBuddha.png"
        alt="BuddhaInu"
        height="200vh"
        width="200vw"
        style="border-radius: 50%"
      />
    </div>
    <h3 style="font-size: 2em">
      <u> Meet the Team!</u>
    </h3>

    <p>Our professional team has been hard at work developing this project.</p>
    <br />
    <!-- <div class="container" style="background-color: bisque"> -->
    <div class="row">
      <div class="col" style="align-items: center" text-center>
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>BRIAN</u></h4>
            <img src="assets/ba1.png" width="150" height="150" />
            <br /><br />
            <h4><u>CEO</u></h4>

            <p>
              Real estate investor, Defi expert, and small busines owner. Brian
              enjoys being an artist in his free time and is striving to take
              this project to the moon.
              <br />
            </p>
            <br /><br />
            <br /><br />
            <br /><br /><br />           <br />
          
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>ERIC</u></h4>

            <img src="assets/ba2.png" width="150" height="150" />
            <br /><br />
            <h4><u>CTO</u></h4>

            <p>
              Our Defi Expert with experience in traditional software
              development as well as web3. Masters in cybersecurity and current
              PhD canidate. CISSP holder and lover of all things blockchain.
            </p>
            <br />
            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>

            <a
              mdbRipple
              class="btn btn-primary btn-floating m-1"
              style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019"
              role="button"
            >
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : WEBBRICO#7151</p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
