#center-img {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: 0.5s all ease-in-out;

}

#center-img:hover{
  transform: scale(1.25);
}

#center-img-gif {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: 0.5s all ease-in-out;

}

#center-img-gif:hover{
  transform: scale(1.05);
}



#card-free-mints{
  background-color: aliceblue;
  border-radius: 5%;
  max-width: 60%;

}

#card-free-mints:hover{
  background-color: bisque;
  border-radius: 5%;
  max-width: 70%;
  text-decoration: underline;

}

#card-lightblue{
  background-color: aliceblue;
  border-radius: 5%;
  max-width: 60%;
}


#card-lightblue:hover{
  background-color: rgb(150, 154, 227);
  border-radius: 5%;
  transform: scale(1.05);
  text-decoration: underline;

}

#card-free-mints:hover img{
  transform: scale(1.25);


}

#gremlins-img {
   object-fit: contain;
  padding: 10px;
  transition: 0.5s all ease-in-out;

}


#gremlins-img:hover{
  transform: scale(1.25);
}

#card-gremlins {
  min-height: 1000px; 
background-color: #666;

}
#card-cloudz {
  background-color: #666;
  
  }

#cloudz-img {
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: contain;
  // padding: 3px;
  transition: 0.5s all ease-in-out;

}


#cloudz-img:hover{
  transform: scale(1.25);
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
