<div class="center-div">
  <div class="card main" style="min-width: 100%;">

    <div class="card-header" style="border-radius: 5%; position: relative; top: -90px;">


      <img id="center-img" src="../../../assets/toonverse/greenCat.png" alt="logo" height="400vh" width="400vw"
        style="border-radius: 5%" />
      <br>
      <h3 class="card-text">
        <br>
        <u> Meet the Team!</u>
      </h3>


      <div class="card-body">

        <div class="grid-container">
          <div class="grid-item" style="float: right;">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Keith Miller</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/999.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>CEO</u></h4>
                <h4><u>Lead Artist</u></h4>
                <p>
                  Veteran, Tatooo Shop Owner, Degen Artist.
                </p>
                <p>
                  Toonverse is his brainchild and is the 
                  main artist for this project.
                </p>
              </div>
            </div>
          </div>
          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Eric Webb</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/DevilCatz/11.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>CTO</u></h4>
                <p>
                  Defi Expert
                </p>
                <p>
                  CISSP holder
                </p>
                <p>
                  PhD student.
                </p>
                 <br>
                <br>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>TJ Roobs</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/1000.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Project Lead</u></h4>

                <p>
                  Husband
                </p>
                <p>
                  Father
                </p>
                <p>
                  NFT Enthusiast.
                </p> <br>
                <br>
              </div>
            </div>
          </div>


          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Luke-Angelo Strazzera</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/1600.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Software Developer</u></h4>

                <p>
                  Defi Enthusiast
                </p>
                <p>
                  Discord Manager
                </p>
                <p>
                  Council Member
                </p>
                <p>
                  Computer Science Student.
                </p> <br>
                <br>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Sister Blockchain</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/1048.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Moderator</u></h4>
                <p>
                  Wife
                </p>
                <p>
                  Mother
                </p>
                <p>
                  Community Activist
                </p> <br>
                <br>
              </div>
            </div>
          </div>


          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Ricky Danks</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/456.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Moderator</u></h4>
                <p>
                  Exterminator
                </p>
                <p>
                  Crypto Enthusiast
                </p>
                <p>
                  Master Space Host
                </p> <br>
                <br>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Sinister</p>
                <p>
                  LemonTree
                </p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/1331.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Moderator</u></h4>
                <p>
                  Tattoo Artist
                </p>
                <p>
                  Crypto Enthusiast
                </p>
                <p>
                  Master Troll
                </p> <br>
                <br>
              </div>
            </div>
          </div>

          <div class="grid-item">
            <div id="card-free-mints">
              <div class="card-header">
                <p>Have an Idea?</p>
              </div>

              <div class="card-body">
                <img id="gremlins-img" src="../../../assets/toonverse/customs/999.png" alt="logo" height="100%"
                  width="100%" style="border-radius: 5%" />
              </div>

              <div class="card-text">
                <h4><u>Contact Us!</u></h4>

                <p>
                  And we can see how you may fit the team!
                </p> <br>
                <br>
              </div>
            </div>
          </div>

        </div>




      </div>
    </div>
  </div>