<div class="center-div">
  <div class="card main">
      <img id="center-img" src="../../../assets/toonverse/greenCat.png" alt="logo" height="400vh" width="400vw"
        style="border-radius: 5%; top: -90px;" />
      <br>
          </div>
    <h3 style="font-size: 2em">
      <u> Meet the Team!</u>
    </h3>

    <p>Our professional team has been hard at work developing this project.</p>
    <br />
    <!-- <div class="container" style="background-color: bisque"> -->
    <div class="row">
      <!-- <div class="col" style="align-items: center" text-center>
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>Keith Miller</u></h4>
            <img src="../../../assets/toonverse/DevilCatz/11.png" width="150" height="150" />
            <br /><br />
            <h4><u>CEO</u></h4>

            <p>
              Veteran, Tatooo Shop Owner, Degen Artist.
              Toonverse is his brainchild and is the main artist for this project.

              <br />
            </p>
            <br /><br />
            <br /><br />
            <br /><br /><br /> <br />

          </div>
        </div>
      </div> -->


      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>Keith Miller</u></h4>

            <img src="../../../assets/toonverse/customs/11.png" width="150" height="150" />
            <br /><br />
            <h4><u>CEO / Lead Artist</u></h4>

            <p>
              Veteran, Tatooo Shop Owner, Degen Artist.
              Toonverse is his brainchild and is the main artist for this project.
            </p>
            <br />
            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/" role="button"><i class="fab fa-linkedin-in"></i></a>

            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019" role="button">
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

            <p>Discord ID : WEBBRICO#7151</p>
          </div>
        </div>
      </div>





      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>ERIC</u></h4>

            <img src="../../../assets/sharks/loungingAkula.png" width="150" height="150" />
            <br /><br />
            <h4><u>CTO</u></h4>

            <p>
              Our Defi Expert with experience in traditional software
              development as well as web3. Masters in cybersecurity and current
              PhD canidate. CISSP holder and lover of all things blockchain.
            </p>
            <br />
            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/" role="button"><i class="fab fa-linkedin-in"></i></a>

            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019" role="button">
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

           
          </div>
        </div>
      </div>


      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>Ryan </u></h4>

            <img src="../../../assets/sharks/loungingAkula.png" width="150" height="150" />
            <br /><br />
            <h4><u>CFO</u></h4>

            <p>
              Investor, finanancier, Day to Day.
            </p>
            <br />
            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/" role="button"><i class="fab fa-linkedin-in"></i></a>

            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019" role="button">
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

           
          </div>
        </div>
      </div>


      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>TJ ROOBS </u></h4>

            <img src="../../../assets/toonverse/customs/1048.png" width="150" height="150" />
            <br /><br />
            <h4><u>Community Engagement</u></h4>

            <p>
              
            </p>
            <br />
            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/" role="button"><i class="fab fa-linkedin-in"></i></a>

            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019" role="button">
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

           
          </div>
        </div>
      </div>


      <div class="col-md">
        <div class="card" id="teamCard">
          <div class="card-body">
            <h4><u>Sister Blockchain </u></h4>

            <img src="../../../assets/toonverse/customs/1048.png" width="150" height="150" />
            <br /><br />
            <h4><u>Community Engagement</u></h4>

            <p>
              
            </p> 
            <br />
            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #186ae4e1"
              href="https://www.linkedin.com/in/ericwebb92/" role="button"><i class="fab fa-linkedin-in"></i></a>

            <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #18e422"
              href="https://www.upwork.com/freelancers/~018f6aa33860339019" role="button">
              <i style="font-size: xx-small"> up <br />work</i>
            </a>

           
          </div>
        </div>
      </div>


    </div>
    <br />
  </div>
