#styled-mint-button {
    margin-bottom: 4px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: pink;  
  }
  
  #styled-mint-button:hover {
    box-shadow: inset 2px 2px 3px pink, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }

  #table{
    justify-content: center; padding: 15px;background-color: aliceblue;
  }

  #table:hover{
    background-color: bisque;
  }