<div class="center-div" style="  display: grid;
">
    <h6 style="font-weight: bold; "><u>**ToonVerse Marketplace**</u> </h6>

    <table class="table align-middle mb-0 bg-white" style="width: auto;">
        <thead class="bg-light">
            <tr>
                <th>Project</th>
                <th>Status</th>
                <th>Supply</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/toonverse/greenCat.png" alt="" style="width: 45px; height: 45px"
                            class="rounded-circle" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Devil Catz</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-success rounded-pill d-inline">SOLD OUT</span>
                </td>
                <td>2222</td>
                <td>
                    <button [routerLink]="['/manage']" id="styled-mint-button">
                        Stake
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets//toonverse/fruitgremlins.wtf/ftgbanner.png" class="rounded-circle"
                            alt="" style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Fruit Town Gremlins</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-primary rounded-pill d-inline">Minting Now</span>
                </td>
                <td>4444</td>
                <td>
                    <button [routerLink]="['/fruittown']" id="styled-mint-button">
                        Mint
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/toonverse//tanggang/tangGang.png" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Tang Gang</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
                </td>
                <td>TBD..</td>
                <td>
                    <button disabled [routerLink]="['/manage']" id="styled-mint-button">
                        TBD
                    </button>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/toonverse//clouds/Music.png" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Cloudy Frens</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
                </td>
                <td>TBD..</td>
                <td>
                    <button disabled [routerLink]="['/manage']" id="styled-mint-button">
                        TBD
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/toonverse/sourpuss/main.png" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Sour Puss</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
                </td>
                <td>TBD..</td>
                <td>
                    <button disabled [routerLink]="['/manage']" id="styled-mint-button">
                        TBD
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/toonverse/redFront.png" class="rounded-circle" alt=""
                            style="width: 45px; height: 45px" />
                        <div class="ms-3">
                            <p class="fw-bold mb-1">Devil Catz V2</p>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
                </td>
                <td>TBD..</td>
                <td>
                    <button disabled [routerLink]="['/manage']" id="styled-mint-button">
                        TBD
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>