<div  id="footer-image"class="text-center p-1" style="background-color: aliceblue;">

  <p>© 2023 Powered by :
    <a id="footer-text" [routerLink]="['/home']">
    <img id="footer-image" src="./../../../assets/sharks/loungingAkula.png" alt="logo" width="50" labe
      style="border-radius: 50%; ">Sudo Shark Services
    </a>
  </p>
</div>










<!-- <a
        class="text-white"
        href="https://thebuddhainu.com/"

        > <p><u>Powered by The Buddha Inu</u></p></a
      >       -->

<!-- <div class="container p-3 pb-0"> -->
<!-- Section: Social media -->
<!-- <section class="mb-3">
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee"
          href="https://www.facebook.com/profile.php?id=100079143445191"
          role="button"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #00acee"
          href="https://twitter.com/TheBuddhaInu"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #b418e4c7"
          href="https://discord.gg/zfhrghnMyV"
          role="button"
          ><i class="fab fa-discord"></i
        ></a>
        <a
          mdbRipple
          class="btn btn-primary btn-floating m-1"
          style="background-color: #8a3ab9"
          href="https://discord.gg/zfhrghnMyV"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
      </section> -->
<!-- </div> -->