

.card-body {
    width: 90%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    min-height: 275px;
    border: 0;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: aliceblue;
  
  }
  
  .card-body:hover {
    background-color: rgb(167, 213, 255);
    transform: scale(1.05);
    text-decoration: underline;
  }