/* Universal transition */
* {
  transition: all 0.3s ease-in-out;
}

.hoverText {
  font-weight: 700;
}

.hoverText:hover {
  text-decoration: none;
}

.navbar-image img {
  border-radius: 50%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.navbar-image:hover img {
  transform: scale(1.1);
}

#navbar-text {
  color: black;
  margin-left: 1rem;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

#navbar-text:hover {
  color: black;
  transform: scale(1.1);
  font-weight: bolder;
}
body {
  padding-top: 70px;
}
