<!-- Navbar -->
<nav class="navbar navbar-expand-md  fixed-top" style="background-color: aliceblue; opacity: 90%;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white" [routerLink]="['/home']">
          <div class="navbar-image">
        <img src="./../../../assets/toonverse/toonverseLogo.png" alt="logo" width="50" style="border-radius: 50%;" />
      </div>

      <h6 id="navbar-text">Toonverse Studios!</h6>


  </div>
  <button class="favorite styled" type="button">
    Connect
  </button>
  <button style="margin-right: 25px;" class="favorite styled" type="button">
    Disconnect
  </button>
</nav>