<!-- Navbar -->
<nav class="navbar navbar-expand-md  fixed-top" style="background-color: aliceblue; opacity: 90%;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white" [routerLink]="['/home']">
          <div class="navbar-image">
        <img
          src="./../../../assets/toonverse/toonverseLogo.png"
          alt="logo"
          width="50"
          style="border-radius: 50%;"
        />
      </div>
    
      <h6 id="navbar-text">Toonverse Studios!</h6>
    </a>

 
    <!-- Collapsible wrapper -->

  </div>
  <!-- <button
  style="margin-right: 25px;"
  *ngIf="this.isConnected == false"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(true)"

>
  Connect 
</button>
<button
style="margin-right: 25px;"
*ngIf="this.isConnected == true"

  class="favorite styled"
  type="button"
  (click)="tryAndConnect(false)"

>
  Disconnect 
</button> -->
</nav>
