<div class="container" style="word-wrap: break-word;text-align: center;width: 90vw;">
  <h3 id="styledText">Welcome to the DevilCatz Minting Page!</h3>
  <h4>
    <button id="styled-mint-button" style="margin: 1%;"> <a style="margin: 10%;"
        href="https://etherscan.io/token/0x1c4a28690482b03f6991c8c24295016cba197c12#code" style="margin: 10px;">View
        Contract</a></button>
    <button id="styled-mint-button" style="margin: 1%;"> <a href="https://opensea.io/collection/toonversestudios"
        style="margin: 10px">View
        Opensea</a></button>
    <button id="styled-mint-button" style="margin: 1%;"> <a href="https://rarible.com/toonverseStudios">View
        Rarible</a></button>

  </h4>

  <p> The DevilCats Offically Minted Out!
    <br> New years day 2023, We would like to thank the community as we embark on this digital journey of whats next.
    <br> Currently
  </p>
  <p class="yellowHighlight">{{totalSupply}} Minted!</p>
  <p>out of</p>
  <p class="yellowHighlight">2222</p>
  <br>
  <p>Owning a DevilCatz token entitles you to future collection drops.</p>

  <p>This is a gas optimized ERC721A.
    <br>
    Pixelated version of cats and designated factions of future drops included.

    <br>
    Staking tokenomics coming soon!
    <br>
    <br>

  </p>


  <div class="container" style="width: 100%; max-width: 850px;display: grid;
        justify-items: center; ">


    <div class="card" class="card-lightblue" style="width: 80%; max-width: 750px;margin-bottom: 10%; ">
      <div class="card-body" style="justify-content: center;
      display: grid;
      justify-items: center;">
        <img id="center-img-gif" src="../../../assets/toonverse/slow.gif" alt="logo" height="300vh" width="65%"
          style="border-radius: 5%" />
        <div class="card-text" id="styledText" style="justify-content: center;
        display: grid;
        justify-items: center; text-align: center;">
          <br>
          <p>
            <br>

            Price = {{contractPrice}} Eth
            <br>
            Max Mint = 50
            <br>
            Buy 1 get 1 free starting at 3.
            <br>
            Buy 1 only get 1
            <br>
            Buy 2 only get 2
            <br>
            ***Then 2x Multiplier Bonus Kicks in...***
            <br>
            Buy 3 get a total of 6

            <br>
            Buy 4 get a total of 8
            <br>
            ...
            <br>
            Buy 50 get a total of 100
            <br>
            ^ Max mint amount. ^
            <br>
          </p>


          <div class="div-quantity-selector" style="justify-items: center;">

            <button class="mint-button w-button" (click)="minus()">
              - </button>


            <!-- <a id="mint-minusone" href="#"
                        class="btn-quantity w-node-_0d2f99db-be57-70d7-001f-b14912b81a95-05774dfd 
                        w-button">-</a> -->


            <div id="w-node-f852b6d0-e5e3-30d3-5f48-21de007db10c-05774dfd" class="w-embed">
              <input type="number" class="text-field w-input" max="50" maxlength="256" name="email" data-name="Email"
                placeholder="" id="mint-quantity" required="" [ngModel]="numToBuy" type="number"
                (ngModelChange)="updatePrice($event)" min="1" max="50" step="1"
                onfocus="this.previousValue = this.value"
                onkeydown="if(event.key==='.'){event.preventDefault();} this.previousValue =this.value"
                placeholder="Amount To Buy">

              <br>

              <!-- <input [ngModel]="numToBuy" type="number" (ngModelChange)="updatePrice($event)" min="0" max="100000000000"
                          step="1" onfocus="this.previousValue = this.value"
                          onkeydown="if(event.key==='.'){event.preventDefault();} this.previousValue =this.value"
                          class="form-control" placeholder="Amount To Buy" /> -->
            </div>
            <button class="mint-button w-button" (click)="plus()">
              + </button>
          </div>

          <p class="">{{numToBuy}} = {{totalPrice}} ETH<br> Total Recieved With Multiplier = {{multiplier}} </p>
          <div *ngIf="!this.isLoading">

            <!-- <button class="mint-button w-button" (click)="connect()">
                    Connect Wallet
                  </button> -->
                  <div *ngIf="isMetaMaskConnected==false"> <button id="styled-mint-button" style="margin-top: 25%;margin-bottom: 15%;"
                    (click)="connectMetaMask()">Connect MetaMask</button>
                </div>

            <div *ngIf="isMetaMaskConnected!=false"> <button id="styled-mint-button" style="margin-top: 25%;margin-bottom: 15%;"
                (click)="mint()">Mint
                DevilCat</button>
            </div>
            </div>

          <div *ngIf="this.isLoading">
            <br><br>
            <p>Waiting...</p>
            <img id="center-img-gif" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="100vh" width="65%"
              style="border-radius: 5%" />
            <br><br>
          </div>

          <div *ngIf="this.error">
            <br>
          
            <button id="styled-mint-button" (click)="clearError()" >{{error}}</button>
            
          
            <br><br><br><br>
          </div>
          <!-- <div *ngIf="this.userAddress != '' && this.totalPrice!='0'">
                  <button  id="styled-mint-button" (click)="buy()">
                    Mint
                  </button>
                </div>
                <div *ngIf="this.userAddress != '' && this.totalPrice=='0'">
                  <button class="mint-button w-button" type="submit" (click)="buy()">
                    Disabled
                  </button>
                </div> -->

        </div>
      </div>
    </div>

  </div>



  <div class="paragraph" style="margin-bottom: 10%;">
    <br> <br>
    <p style="margin-left: -2%;  max-width: 1200px;">Your Support is greatly appreciated from the Artist Keith (GIP)
      Miller, the Developer Eric (SudoAkula) Webb, and
      the rest of the Team who is all making this possible.<br> We are excited to bring you more content and
      collections.<br>
      Thank you!<br>
      :)
      <br>
    </p>

  </div> <!-- <div class="container" style="width:50%;"> -->
</div>