<h6 style="font-weight: bold; "><u>**FruitTownGremlins.WTFruit**</u> </h6>

{{fruitTownAddress}} <br>
<br><br>
<img id="gremlins-img" src="../../../assets/toonverse/fruitgremlins.wtf/fruitTownGremlins.gif " alt="logo"
width="95%" height="180vh" style="border-radius: 75%;object-fit: contain;" /><br>

<br><br>A fruity gremlin derivative with a twist.<br>


<div class="d-flex align-items-start bg-light mb-3">
    <div class="col">1 Free Mint per DevilCat
        <br>
        look up amount of devilcatz in wallet.
        <br>
        look up amount of devil catz staked.
        <br>
        amount you can claim.
        <mdb-range [min]="0" [max]="50"></mdb-range>
        <button class="styled">
            Mint
          </button>
    </div>
    <div class="col">staked address claim
<p> check to see if address has claimed yet.</p>
        <button class="styled">
            Mint 15!
          </button>

    </div>
    <div class="col">$toon coin claim
        <br>
        look up amount of $toon in wallet
        <mdb-range [min]="0" [max]="50"></mdb-range>
        <button class="styled">
            Mint
          </button>


    </div>
  </div>
  <div class="d-flex align-items-center bg-light mb-3" style="height: 100px;">
    <div class="col">free mint option
        <br>
        look up if free mint is possible right now
        <mdb-range [min]="0" [max]="10"></mdb-range>
        <button class="styled">
            Mint
          </button>


    </div>
    <div class="col">buy contract with eth
        <br>
        <button class="styled">
            Become Owner
          </button>
    </div>
    <div class="col">buy contract with $toon
        <br>
        <button class="styled">
            Become Owner

          </button>
    </div>
  </div>