<div class="center-div" style="  display: grid;
">
  <div style id="styledText">
    <h6 style="font-weight: bold; "><u>** Welcome to Toonverse Studios!
        **</u> </h6>
    <img src="../../../assets/toonverse/multiBanner.png" alt="logo" height="50%" width="50%"
      style=" margin-bottom: 20px;margin-top: 10px;" /><br>

    <p> A WEB3 Art development platform.<br>
      Our Tokenomics are really simple.
      <br>
      - Mint a DevilCat
      <br>
      - Stake your DevilCat to earn TOON
      <br>
      - Use TOON to mint future collections.
      <br>
      - Grow TOON ecosytem by offering entire collections for TOON or ETH.
      <br>
      - Grow TOON ecosytem by launchpadding other projects with ART and DEV work.
    </p>
    <h4>
      <button id="styled-mint-button" style="margin: 1%;"> <a style="margin: 10%;"
          href="https://etherscan.io/token/0x1c4a28690482b03f6991c8c24295016cba197c12#code" style="margin: 10px;">View
          Contract</a></button>
      <button id="styled-mint-button" style="margin: 1%;"> <a href="https://opensea.io/collection/toonversestudios"
          style="margin: 10px">View
          Opensea</a></button>
      <button id="styled-mint-button" style="margin: 1%;"> <a href="https://rarible.com/toonverseStudios">View
          Rarible</a></button>

    </h4>
  </div>

  <div class="card" id="card-mintDevilCat">
    <div class="container">
      <div class="card-body">
        <h6>**Minting Soon **</h6>
        <p>EL GATO DIABLO!</p>

        <img id="center-img-gif" src="../../../assets/elgatodiablo/elgatodiabloGIF.webp" alt="logo" height="40%"
          width="63%" style="border-radius: 5%" />
        <br>
        <br>
        <p> Check back May 7th...
          <br>

          At the request of our community based off the original design of our genesis DevilCatz collection.

          350 of this collection will be minted with 100 $TOON 2 mints per wallet. <br>
          DevilCatz owners can mint 2 at a discount and DevilCatz stakers can mint
          unlimited at a discount.
          <br>
          Public mint is also available.
        </p>


        <button id="navbar-text" class="styled" [routerLink]="['/elgatodiablo']">View Mint!</button>
        <br>
        <button id="navbar-text" class="styled"> <a href="https://opensea.io/collection/elgatodiablo"
           >View
            Opensea</a></button>
        <br>
        <button id="navbar-text" class="styled"> <a
            href="https://etherscan.io/address/0xa8b62866020970943de4f0e6fc4acf3e31636346#code"
           >View
            Contract </a></button>

      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div class="container" style="margin-bottom: 100px; margin-top:25px">
    <div class="row"
      style="  justify-content: center; padding: 15px;background-color: aliceblue;border-bottom-style: double;">
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Icon</div>
      <div class="col-md-2">Project</div>
      <div class="col-md-2">Status</div>
      <div class="col-md-2">Supply</div>
      <div class="col-md-2">Link</div>
    </div>
    <div class="row" id="table">
      <div class="col-md-2">
        Not for sale
      </div>

      <div class="col-md-2">

        <img src="../../../assets/toonverse/greenCat.png" alt="" style="width: 45px; height: 45px"
          class="rounded-circle" />
      </div>

      <div class="col-md-2">

        <div class="ms-3">
          <p> <a href="https://opensea.io/collection/toonversestudios" class="fw-bold mb-1">Devil Catz</a>
          </p>

        </div>
      </div>

      <div class="col-md-2">


        <span class="badge badge-success rounded-pill d-inline">SOLD OUT</span>
      </div>
      <div class="col-md-2">

        2222
      </div>

      <div class="col-md-2">

        <button [routerLink]="['/manage']" id="styled-mint-button">
          Stake
        </button>
      </div>
    </div>

    <div class="row" id="table">

      <div class="col-md-2">
        50 ETH
      </div>

      <div class="col-md-2">
        <img src="../../../assets/toonverse/fruitgremlins.wtf/ftgbanner.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />

      </div>
      <div class="col-md-2">


        <p>
          <a href="https://opensea.io/collection/fruittowngremlins-wtfruit" class="fw-bold mb-1">Fruit Town
            Gremlins</a>
        </p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-success rounded-pill d-inline">SOLD OUT</span>
      </div>
      <div class="col-md-2">

        4444
      </div>

      <div class="col-md-2">
        <a href="https://opensea.io/collection/fruittowngremlins-wtfruit" class="fw-bold mb-1">
          <button id="styled-mint-button">
            SOLD OUT
          </button></a>

      </div>

    </div>

    <div class="row" id="table">
      <div class="col-md-2">

        TBD</div>
      <div class="col-md-2">

        <img src="../../../assets/elgatodiablo/314.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p>
          <a href="https://opensea.io/collection/elgatodiablo" class="fw-bold mb-1">El Gato Diablo</a>
        </p>
      </div>

      <div class="col-md-2">


        <span class="badge badge-primary rounded-pill d-inline">Minting Now</span>
      </div>
      <div class="col-md-2">

        2222</div>

      <div class="col-md-2">

        <button [routerLink]="['/elgatodiablo']" id="styled-mint-button">
          Mint!
        </button>
      </div>

    </div>




    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/tanggang/tangGang.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Tang Gang</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TBD</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>
    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/clouds/Music.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Crazy Cloud Club</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TBD</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>




    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/sourpuss/main.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Sour Puss Felines</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TDB</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>

    </div>
    <div class="row" id="table">
      <div class="col-md-2">

        TDB</div>
      <div class="col-md-2">

        <img src="../../../assets/toonverse/redFront.png" class="rounded-circle" alt=""
          style="width: 45px; height: 45px" />
      </div>
      <div class="col-md-2">
        <p class="fw-bold mb-1">Devil Catz V2</p>

      </div>

      <div class="col-md-2">


        <span class="badge badge-warning rounded-pill d-inline">Coming Soon...</span>
      </div>
      <div class="col-md-2">

        TDB</div>

      <div class="col-md-2">

        <button disabled [routerLink]="['/manage']" id="styled-mint-button">
          TBD
        </button>
      </div>
    </div>
  </div>


  <br>
  <br>

  <div class="container" id="text" style="width: 85%;">

    <br>
    <br>

    <h5>
      <u> Legal Disclaimer</u>
    </h5>
    <p>

      The creators and maintainers of Toonverse Studios are not liable for any loss when trading
      cryptocurrency tokens. The information provided on Toonverse Studios website does not constitute legal
      advise,
      investment advice, financial advice, trading advice, or any other sort of advice and you should not treat
      any
      of
      the website's content as such. Please note, there are always risks associated with smart contracts, use them
      at
      your own risk. Toonverse Studios is not a registered broker, analyst, or investment advisor, nor does Sudo
      Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own
      due
      diligence and consult your financial advisor before making any financial decisions. Always make sure that
      you
      are in compliance with your local laws and regulations before
      you make any purchase.
      <br><br><br>

    </p>
  </div>





</div>