<div class="center-div">
  <div class="card main">

    <div class="card-header" id="text" style="border-radius: 5%; position: relative; top:-50px;">

      <img id="center-img" src="../../../assets/toonverse/greenCat.png" alt="logo" height="35%" width="35%"
        style="border-radius: 5%; object-fit: contain; height: auto;" />
      <br>
      <br>
      <h3>
        Welcome to Toonverse Studios!
      </h3>
      <p> A WEB3 Art development platfrom.<br>
        Our Tokenomics are real simple.
        <br>
        - Mint a DevilCat
        <br>
        - Stake your DevilCat to earn TOON
        <br>
        - Use TOON to mint future collections.
      </p>

    </div>
    <div class="card-body">
      <div class="card" id="card-mintDevilCat">
        <h6>**MINTING NOW**</h6>
        <div class="container">

          <div class="card-body">
            <img id="center-img-gif" src="../../../assets/toonverse/slow.gif" alt="logo" height="50%" width="75%"
              style="border-radius: 5%" />
            <div class="card-text"><br>
              <p> The Devil Cats Minting is taking place now.
                <br> Currently 1602 out of 2222.
                <br> Owning a DevilCatz token entitles you to future collection drops.
              </p>
              <button id="navbar-text" class="styled" [routerLink]="['/mint']">Mint DevilCat</button>
            </div>

          </div>
        </div>
      </div>
      <br>
      <br>



      <div class="container" id="text">
        <h6>Coming Up to All Devil Cats Holders!</h6>
        <p> We have TWO MINTS coming up to DevilCatz holders.<br>
          Ladies and Gentlemen we introduce to you..<br>
          CrazyCloudz.wtFluff and FruitTownGremlins.Wtf<br>
        </p>
        <br>
        <br>









        <div class="row" style="justify-content: center;">



          <div class="col" style="min-height: 100%;display: flex;justify-content: center;">
            <div id="card-freeMint">

              <br>
              <br>
              <img id="gremlins-img" src="../../../assets/toonverse/fruitgoblins.wtf/fruitTownGremlins.gif" alt="logo"
                width="100%" height="180vh" style="border-radius: 5%;object-fit: contain;" />
              <br>
              <br>
              <p>COMING SOON</p>
              <p> FruitTownGremlins.wtFruit
              </p>
              <br>
              <p>Free mint only available to DevilCatz Holders.</p>
              <br>

            </div>
          </div>
          <div class="col" style="min-height: 100%;display: flex;justify-content: center;">
            <div id="card-freeMint" style="min-height: 100%;">
              <br> <br>

              <img id="cloudz-img" src="../../../assets/toonverse/clouds/clouds.gif" alt="logo" width="100%"
                height="180vh" style="border-radius: 5%;object-fit: contain;" />
              <br>
              <br>
              <p>COMING SOON</p>
              <p>CrazyCloudz.wtFluff</p>

              <p>Free mint only available to DevilCatz Holders.</p>
              <br>
            </div>
          </div>
        </div>

      </div>
      <br>
      <div class="container" id="text" style="width: auto;">
        <h5>
          <u> Legal Disclaimer</u>
        </h5>
        <p>
          The creators and maintainers of Toonverse Studios are not liable for any loss when trading
          cryptocurrency tokens. The information provided on Toonverse Studios website does not constitute legal
          advise,
          investment advice, financial advice, trading advice, or any other sort of advice and you should not treat
          any
          of
          the website’s content as such. Please note, there are always risks associated with smart contracts, use them
          at
          your own risk. Toonverse Studios is not a registered broker, analyst, or investment advisor, nor does Sudo
          Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own
          due
          diligence and consult your financial advisor before making any financial decisions. Always make sure that
          you
          are in compliance with your local laws and regulations before
          you make any purchase.

        </p>
      </div>



    </div>


  </div>
</div>