<div class="center-div">
  <div class="card-header" style="border-radius: 5%;">
    <h6 style="font-weight: bold; "><u>**Devil Catz Staking**</u> </h6>
    <button class="styled" style="margin: 1%;"> <a style="margin: 10%;"
        href="https://etherscan.io/token/0x61DED8A72cDc7762D159ab46bE880BE7127A2DeF#code" style="margin: 10px;">View
        Contract</a></button>
    <h3 class="card-text" style="font-size: 2em">
      <br>

    </h3>


    <br>
    <div *ngIf="this.userAddress == ''" style="position: relative; top: -45px;">
      <div class="card-body" id="styled" style="min-height: 0px;">

        <button (click)="connectAndGetStats()" class="styled" style="max-width: none;">
          Login
        </button>
        <p>Please login to access staking page.</p>
        <br>
        RULES: ONE $TOON A DAY WILL BE REWARED UNTIL 1,235,813 ARE CLAIMED.
        <br>
        LEGAL: HOLDS NO FINANCIAL VALUE, STRICTLY FOR THE LOVE OF ART & BLOCKCHAIN
        <br>
        <br>
        <img id="center-img-gif" src="../../../assets/toonverse/devilCatCode.png" alt="logo" height="40%" width="63%"
          style="border-radius: 5%" />
      </div>
    </div>

    <!-- IF USER IS LOGGGGGGEDDD IN-->
    <div *ngIf="this.userAddress != ''" style="position: relative; top: -45px;">
      <div class="container" id="stats" style="width: fit-content;">
        <div class="card-body" id="styled" style="min-height: 0px; width: fit-content;">
          <p>Welcome "{{ userAddress }}"!

          <div class="row" style="justify-content: center;">
            <div class="col-md">
              $TOON IN WALLET :{{erc20Owned}} <img id="center-img" src="../../../assets/toonverse/catCoin.gif"
                alt="logo" height="25vh" width="25" />
            </div>
            <div class="col-md">
              TOATAL UNSTAKED DEVILCATZ :{{unstakedJsonArray.length}}
            </div>
          </div>
          <div class="row" style="justify-content: center;">
            <div class="col-md">
              UNCLAIMED $TOON :{{erc20Unclaimed}} <img id="center-img" src="../../../assets/toonverse/catCoin.gif"
                alt="logo" height="25vh" width="25" />
            </div>
            <div class="col-md">
              TOATAL STAKED DEVILCATZ :{{stakedJsonMap.size}}
            </div>
          </div>
          <br>
          RULES: ONE $TOON A DAY WILL BE REWARED UNTIL 1,235,813 ARE CLAIMED.
          <br>
          LEGAL: HOLDS NO FINANCIAL VALUE, STRICTLY FOR THE LOVE OF ART & BLOCKCHAIN
          <div>
          </div>
        </div>

        <Br>

  

        <hr>
        <div *ngIf="this.isLoading">
          <div>
            <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="200vh" width="150" />
            <span class="visually-hidden">...</span>
          </div>
          <br />
          <p style="font-size: 1.25em;">Please finish transaction <br> or <br>wait for blockchain to confirm...
            <br>
            The page will refresh on its own.
          </p>
          <br />
        </div>

        <div class="container" id="staked" style="margin-bottom: 15px;">



          <div *ngIf="stakedJsonMap.size == 0 && !isLoading">

            <h3> No staked DevilCatz Found.</h3>
            <p><img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh"
                width="25" />Please stake to earn $TOON!<img id="center-img" src="../../../assets/toonverse/catCoin.gif"
                alt="logo" height="25vh" width="25" />
            </p>

            <img id="center-img" src="../../../assets/toonverse/multiBanner.png" alt="logo" height="50%" width="50%"
              style=" margin-bottom: 20px;margin-top: 10px;" />
            <br>
            <br>
          </div>


        </div>

        <div *ngIf="!this.isLoading">


          <div *ngIf="stakedJsonMap.size > 0">
            <h3>STAKED DEVILCATZ : {{stakedJsonMap.size}}</h3>

            <div class="row " style="margin-bottom: 20px;justify-content: center;">

              <div *ngIf="this.erc20Unclaimed > 0" class="col-md">
                <button class="styled" style="max-width: none;" (click)="collectAllRewards()">
                  Collect All {{erc20Unclaimed}}
                  <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh" width="25"
                    style="border-radius: 5%" />
                </button>
              </div>
              <div *ngIf="erc20UnclaimedSelected!=0" class="col-md">
                <button (click)="collectSelectedRewards()" class="styled"
                  style="min-width: fit-content; max-width: none;">
                  Collect {{erc20UnclaimedSelected}}
                  <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh"
                    width="25" />
                </button>
              </div>

              <div class="col-md">
                <button (click)="unstakeAllNfts()" class="styled">
                  Unstake All {{stakedJsonMap.size}}
                </button>
              </div>
              <div *ngIf="erc721StakedSelectToUnStake.size!=0" class="col-md">
                <button (click)="unstakeMultipleNfts()" class="styled">
                  Unstake {{erc721StakedSelectToUnStake.size}}
                </button>
              </div>
            </div>

            <div class="row" style="justify-content: center;">

              <div class="col-md" *ngFor="let token of stakedJsonMap | keyvalue">
                <div class="card-body" id="styled">
                  <p class="card-text" style="font-size: 1em">
                    {{token.value.data.name}}
                  </p>

                  <img id="center-img" src={{token.value.data.image}} alt="logo" height="100vh" width="100"
                    style="border-radius: 5%" />
                  <br>
                  <br>
                  <p>{{token.value.data.rewards}}<img id="center-img" src="../../../assets/toonverse/catCoin.gif"
                      alt="logo" height="25vh" width="25" style="border-radius: 5%" /></p>
                  <button *ngIf="token.value.data.rewards > 0" (click)="collectNftReward(token.value.data.edition)"
                    class="styled">
                    Collect
                  </button>
                  <button *ngIf="token.value.data.rewards == 0" disabled
                    (click)="collectNftReward(token.value.data.edition)" id="styledDisabled">
                    Collect
                  </button>
                  Need more than 1 to collect.
                  <br>
                  Come back in 24 hours.
                  <br> <button (click)="unstakeNft(token.value.data.edition)" class="styled">Unstake</button>
                  <br>
                  <div>
                    <br>
                    <input mdbCheckbox (click)="updateCatsToUnstakeMap(token.value.data.edition)"
                      style="border-color: pink; text-decoration: black;" class="form-check-input" type="checkbox"
                      id="checkboxNoLabel" value="" aria-label="..." />
                  </div>


                </div>

              </div>
            </div>

          </div>
          <hr>

        </div>


        <!-- UNSTAKED DEVILCATZ-->
        <div class="container" id="unstaked" style="margin-bottom: 30px;">
          <div *ngIf="!this.isLoading">

            <div *ngIf="unstakedJsonArray.length > 0">

              <h3>UNSTAKED DEVILCATZ : {{unstakedJsonArray.length}}</h3>
              <div class="row" style="margin-bottom: 20px;">

                <div *ngIf="erc721OwnedSelectedToStake.size !=0" class="col-sm">
                  <button class="styled" (click)="stakeSelectedNfts()">
                    Stake Selected {{erc721OwnedSelectedToStake.size}}
                  </button>
                </div>

                <div class="col-sm">
                  <button class="styled" (click)="stakeAllNfts()">
                    <!-- STAKE ALL {{erc721Owned}} -->
                    Stake All {{unstakedJsonArray.length}}

                  </button>
                </div>
              </div>


              <div class="row justify-content-center">
                <div class="col-md" *ngFor="let token of unstakedJsonArray;">
                  <div class="card-body" id="styled">

                    <p class="card-text" style="font-size: 1em">
                      {{token.data.name}}
                    </p>

                    <img id="center-img" src={{token.data.image}} alt="logo" height="100vh" width="100"
                      style="border-radius: 5%" />

                    <br>
                    <br>
                    <a style="margin: 5px"
                      href="https://opensea.io/assets/ethereum/0x1c4a28690482b03f6991c8c24295016cba197c12/{{token.data.edition}}">
                      <img id="center-img" src="../../../assets/openSea.png" alt="openseaLogo" height="25vh"
                        width="25vw" style="border-radius: 5%" />
                    </a>

                    <a style="margin: 5px; margin-bottom: 5px;"
                      href="https://rarible.com/token/0x1c4a28690482b03f6991c8c24295016cba197c12:{{token.data.edition}}?tab=overview">
                      <img id="center-img" src="../../../assets/rarible.png" alt="rarible" height="25vh" width="25vw"
                        style="border-radius: 5%" />
                    </a>



                    <br>
                    <br>

                    <button (click)="stakeSingleNft(token.data.edition)" class="styled">Stake</button>
                    <br>
                    <br>
                    <input mdbCheckbox (click)="updateCatsToStakeMap(token.data.edition)"
                      style="border-color: pink; text-decoration: black;" class="form-check-input" type="checkbox"
                      id="checkboxNoLabel" value="" aria-label="..." />
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="unstakedJsonArray.length == 0">
              <h3> No DevilCatz in your wallet</h3>
              <p> An official genisis Toonverse DevilCat can be purchaed after market below.</p>
              <a style="margin: 5px" href="https://opensea.io/collection/toonversestudios">
                <img id="center-img" src="../../../assets/openSea.png" alt="openseaLogo" height="35vh" width="35vw"
                  style="border-radius: 5%" />
              </a>
              <a style="margin: 5px" href="https://rarible.com/toonverseStudios/items">
                <img id="center-img" src="../../../assets/rarible.png" alt="rarible" height="35vh" width="35vw"
                  style="border-radius: 5%" />
              </a>
              <br>
              <img id="center-img" src="../../../assets/toonverse/DevilCats.png" alt="openseaLogo" height="25%"
                width="25%" style="border-radius: 5%; margin-top: 40px;" />
            </div>

          </div>

        </div>

      </div>

      <div *ngIf="approvedForAll && !this.isLoading">
        $Toon-contract is connected to DevilCats-contract for staking : {{approvedForAll}} <br>
        <button class="styled" (click)="setApprovedForAllWithRefresh(false)">Disconnect</button>
        <br>
        You will have to spend connection gas fee if you want to connect again.
      </div>

      <!-- <div *ngIf="!approvedForAll && !this.isLoading">
        $Toon-contract is connected to DevilCats-contract for staking : {{approvedForAll}} <br>
        <button class="styled" (click)="setApprovedForAllWithRefresh(true)">Connect</button>
        <br>
        You will have to spend connection gas fee if you want to connect.
      </div> -->

    </div>
    <div class="container" *ngIf="!this.isLoading" id="text" style="width: 85%;">
    <hr>

      <br>
      <br>
     
      <h5>
        <u> Legal Disclaimer</u>
      </h5>
      <p>

        The creators and maintainers of Toonverse Studios are not liable for any loss when trading
        cryptocurrency tokens. The information provided on Toonverse Studios website does not constitute legal
        advise,
        investment advice, financial advice, trading advice, or any other sort of advice and you should not treat
        any
        of
        the website’s content as such. Please note, there are always risks associated with smart contracts, use them
        at
        your own risk. Toonverse Studios is not a registered broker, analyst, or investment advisor, nor does Sudo
        Shark Services team recommend that any cryptocurrency be bought, sold, or held by you. Do conduct your own
        due
        diligence and consult your financial advisor before making any financial decisions. Always make sure that
        you
        are in compliance with your local laws and regulations before
        you make any purchase.
        <br><br><br>

      </p>
    </div>




  </div>