<div class="center-div">
  <div class="card-header" style="border-radius: 5%;">
    <br>
    <h6 style="font-weight: bold; "><u>**Coming Soon Devil Cat Staking**</u> </h6>
    <br>

    <p>Below is a rough basic GUI we will be implementing. <br>
      <br>
      We will be releasing the tokenzation of DevilCatz and staking.
      Future airdrops will be paid in DevilCatz homegrown token to mint future collections.
      <br>

    </p>
    <h3 class="card-text" style="font-size: 2em">
      <br>

      <h3 style="text-decoration: underline;">A **ROUGH DRAFT** ACCOUNT EXAMPLE</h3>
      <br><br>
    </h3>

    <div *ngIf="this.isLoading">
      <div class="spinner-grow" style="width: 10em; height: 10em; color: #f0b90b" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
      <br />
      <br />

      <p style="font-size: 1.25em; color: #f0b90b">Loading...</p>
      <br />
    </div>

    <div *ngIf="!this.isLoading">
      <br>

      <!-- IF USER IS LOGGGGGGEDDD IN-->
      <div *ngIf="this.userAddress != ''" style="position: relative; top: -90px;">

        <p>Welcome "{{ userAddress }}"!
          <br>
          TOATAL UNSTAKED DEVILCATZ :{{unstakedJsonArray.length}}
          <br>
          TOATAL STAKED DEVILCATZ :{{stakedJsonMap.size}}


        <!-- <p>Claimed TOONCOIN : 2500 <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo"
            height="25vh" width="25" style="border-radius: 5%" />
          <br>
          Unclaimed TOONCOIN : test
           {{erc20Unclaimed}} 
          <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh" width="25"
            style="border-radius: 5%" />

        </p> -->

        <!-- Your {{ contractSymbol }} : {{ tokensOwned }}
          <br />
          Staked {{ contractSymbol }} : {{ tokensStaked }} -->
        <div class="container" id="unstaked" style="background-color: rgb(236, 230, 230)">
          <h3>UNSTAKED DEVILCATZ : {{unstakedJsonArray.length}}</h3>
          <div class="row" style="margin-bottom: 20px;">
                
            <div *ngIf="erc721OwnedSelectedToStake.size !=0" class="col-sm">
              <button class="styled" (click)="stakeSelectedNfts()">
                Stake Selected {{erc721OwnedSelectedToStake.size}}
              </button>
            </div>

            <div class="col-sm">
              <button class="styled" (click)="stakeAllNfts()">
                <!-- STAKE ALL {{erc721Owned}} -->
                Stake All {{unstakedJsonArray.length}}

              </button>
            </div>
          </div>


          <div class="row">
            <div class="col-sm" *ngFor="let token of unstakedJsonArray;">
                <div class="card-body" id="styled">
                  <p class="card-text" style="font-size: 1em">
                    {{token.data.name}}
                  </p>

                  <img id="center-img" src={{token.data.image}} alt="logo" height="100vh" width="100"
                    style="border-radius: 5%" />
                  <br>
                  <br>

                  <button (click)="stakeSingleNft(token.data.edition)" class="styled">Stake</button>
                  <br>
                  <br>
                  <input mdbCheckbox  (click)="updateCatsToStakeMap(token.data.edition)" style="border-color: pink; text-decoration: black;" class="form-check-input"
                    type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
                </div>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="container" id="staked" style="position: relative;top: -90px; background-color: rgb(198, 195, 195);">
        <h3>STAKED DEVILCATZ : {{stakedJsonMap.size}}</h3>

        <div class="row" style="margin-bottom: 20px;">

          <div class="col-md">
            <button class="styled" (click)="collectAllRewards()">
              Collect All {{erc20Unclaimed}}
              <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh" width="25"
                style="border-radius: 5%" />
            </button>
          </div>
          <div  *ngIf="erc20UnclaimedSelected!=0"  class="col-md">
            <button (click)="collectSelectedRewards()" class="styled" style="min-width: fit-content;">
              Collect Selected {{erc20UnclaimedSelected}}
              <img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh" width="25"
                 />
            </button>
          </div>

          <div class="col-md">
            <button (click)="unstakeAllNfts()" class="styled">
              Unstake All {{stakedJsonMap.size}}
            </button>
          </div>
          <div *ngIf="erc721StakedSelectToUnStake.size!=0" class="col-md">
            <button class="styled">
              Unstake Selected {{erc721StakedSelectToUnStake.size}}
            </button>
          </div>
        </div>

        <div class="row">

          <div class="col-sm" *ngFor="let token of stakedJsonMap | keyvalue">
              <div class="card-body" id="styled">
                <p class="card-text" style="font-size: 1em">
                  {{token.value.data.name}}
                </p>

                <img id="center-img" src={{token.value.data.image}} alt="logo" height="100vh" width="100"
                  style="border-radius: 5%" />
                <br>
                <br>
                <p>{{token.value.data.rewards}}<img id="center-img" src="../../../assets/toonverse/catCoin.gif" alt="logo" height="25vh"
                    width="25" style="border-radius: 5%" /></p>
                <button (click)="collectNftReward(token.value.data.edition)" class="styled">
                  Collect
                </button>
                <br> <button (click)="unstakeNft(token.value.data.edition)" class="styled">Unstake</button>
                <br>
                <div>
                  <br>
                  <input mdbCheckbox (click)="updateCatsToUnstakeMap(token.value.data.edition)"  style="border-color: pink; text-decoration: black;" class="form-check-input"
                    type="checkbox" id="checkboxNoLabel" value="" aria-label="..." />
                </div>


              </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>