<div id="page-container">


  <div id="content-wrap">

    <div class="container">

      <div>
        <app-navbar></app-navbar>
      </div>

      <div class="card main" class="main" id="styledText" style="position: relative;top: 110px;justify-items: center;
      text-align: center;margin-bottom: 3%;">


        <img id="center-img" src="../../../assets/toonverse/greenCat.png" alt="logo" height="15%" width="15%"
          style="position: relative;top: -20px; border-radius: 5%; object-fit: contain; height: auto;" />

        <router-outlet></router-outlet>

      </div>
      <br /><br />
    </div>
    <br /><br />
  </div>
  <br /><br />


  <app-footer id="footer" style="position: absolute;"></app-footer>

</div>