#form-eth-address{
    color: pink;
}

#form-eth-address:hover{
    background-color: gray;
}

#typeText{
    border-radius: 0px;
    background-color: pink;
}

#card-devilcat{
    max-width: 100%;
}
