<div class="center-div">
    <div class="card main" style="min-width: 100%;">

        <div class="card-header" style="border-radius: 5%; position: relative; top: -90px;">


            <img id="center-img" src="../../../assets/toonverse/greenCat.png" alt="logo" height="400vh" width="400vw"
                style="border-radius: 5%" />
            <br>
            <h3 class="card-text">
                <br>
                <u> View Your Catz or Others!</u>
            </h3>
            <div class="row" style="justify-content: center;">


    
                <div class="col-4">
                    <div id="card-devilcat" style="min-height:100%">
                        <p>Eth Address Lookup</p>
                        <mdb-form-control>
                            <input mdbInput (ngModelChange)="updateSearchedAddress($event)" [ngModel]="searchedAddress"
                                type="text" id="typeText" class="styled" placeholder="Eth Address" />
                            <button mdbLabel (click)="searchByEthAddress()" class="styled"
                                for="typeText">Search</button>
                        </mdb-form-control>


                    </div>
                </div>




                <div class="col-4">
                    <div id="card-devilcat" style="min-height:100%">

                        <p>DevilCat ID# Lookup</p>

                        <mdb-form-control>
                            <input mdbInput (ngModelChange)="updateSearchedID($event)" [ngModel]="searchedId"
                                type="number" min="0" max="2222" id="typeText" placeholder="DevilCatID#"
                                class="styled" />
                            <button (click)="searchById()" class="styled" for="typeText">Search</button>
                        </mdb-form-control>
                    </div>
                </div>
            </div>

        </div>

        <!-- <div class="LoggedInView" *ngIf="searchedAddress">
            LoggedInView

        </div> -->

        <!-- ETH ADDRESS LOOK UP RESULTS-->
        <div class="ByAddressView" *ngIf="tokenJsonArray.length >0"
            style="max-width: 100%; width: 65%;top: -90px;position: relative;">
            <br>

            <button class="styled" (click)="clearCatObj()">Clear</button>
            <br>

            <p>Unstaked DevilCatz belonging to {{searchedAddress}}...</p>

            <div id="container">
                <div class="row">
                    <div class="col-md-3" id="card-devilcat-multi" *ngFor="let token of tokenJsonArray">
                        <p>{{token.data.name}}</p>
                        <img id="center-img" src={{token.data.image}} alt="logo" height="100vh" width="100"
                            style="border-radius: 5%" />
                    </div>

                </div>

            </div>

        </div>




        <!-- GET BY CAT ID DIV -->
        <div class="ByCatIDView" *ngIf="catObj!=null"
            style="max-width: 100%; width: 65%;top: -90px;position: relative;">
            <br>
            <button class="styled" (click)="clearCatObj()">Clear</button>
            <br> <br>
            <br>
            <br>

            <div id="card-devilcat" style="min-width: 75%;">




                <p> {{catObj.data.name}}
                    <br>
                    <img id="center-img" src={{catObj.data.image}} alt="logo" height="200vh" width="200vw"
                        style="border-radius: 5%" />

                <table id="styled" class="table" style="border-style:none">
                    <tbody style="border-style:none" id="table-cat-attributes">

                        <tr style="border-style:none" *ngFor="let attribute of catObj.data.attributes">
                            {{attribute.trait_type}} : {{attribute.value}}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>