#form-eth-address{
    color: pink;
}

#form-eth-address:hover{
    background-color: gray;
}

#typeText{
    border-radius: 0px;
    background-color: pink;
}
 
#card-lightblue{
    max-width: 100%;
}

#table-cat-attributes{
    font-family: EncodeSansCondensedBold;
    color: black;
    word-break: break-word;
    font-size: min(4vw, 20px);
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    display: grid;
  }

  #card-lightblue-multi{
    background-color: aliceblue;
    border-radius: 5%;
    max-width: 60%;
    width: auto;
    margin: auto;
    margin-bottom: 5%;
  }
  
  
  #card-lightblue-multi:hover{
    background-color: bisque;
    border-radius: 5%;
    transform: scale(1.05);
    text-decoration: underline;
    
  
  }

  