<div class="center-div">
  <div class="card main">
    <div class="center-img">
      <img
        src="assets/mainBuddha.png"
        alt="BuddhaInu"
        height="200vh"
        width="200vw"
        style="border-radius: 50%"
      />
    </div>
    <div class="card-body">
      <h3 class="card-text" style="font-size: 2em">
        <u>Let the Buddha Unfold...</u>
      </h3>
      <br />
      <ul class="list-group">
        <li id="list" class="list-group-item">
          <h4><u>Q1</u></h4>
          <h6>
            strong emphasis on R&D, implementing marketing and social media
            strategies. Continuing to build strong brand and team from internal
            funding.
          </h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q2</u></h4>

          <h6>
            Mint date, rapid growth and implementation of outside funding to
            achieve rapid scaling.
          </h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q3</u></h4>
          <h6>
            First Round ICO. Developing NFT art. Finding game dev cell to create
            P2E game.
          </h6>
        </li>
        <li id="list" class="list-group-item">
          <h4><u>Q4</u></h4>
          <h6>Continuing P2E game development. NFT mint date.</h6>
        </li>
      </ul>
    </div>
  </div>
</div>
