/* You can add global styles to this file, and also import other style files */
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

body {
  // background-image: url("https://thebuddhainu.s3.amazonaws.com/background.png");
  background-image: url("./assets/toonverse/background.jpg");
  // -webkit-background-size: wrap;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.main {
  background-color: #fbf1e6;
  border: 1mm ridge pink;
  // width: 65%;
  min-width: 400px;
  opacity: 99%;


}

.inside {
  background-color: #404756;
  border: 1mm ridge pink;
  width: 90%;
  min-width: 400px;
  opacity: 95%;
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}


.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  justify-content: center;
  align-items: center;
}

.styled {
  max-width: 200px;

  min-width: 150px;
  margin-bottom: 4px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: pink;
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px pink, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.container{
  max-width: 90%;
}


.styledDisabled {
  max-width: 200px;

  min-width: 150px;
  margin-bottom: 4px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(141, 139, 110);
  background-image: linear-gradient(to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px pink, inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: pink;
  box-shadow: inset 2px 2px 3px rgb(108, 34, 46), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  font-size: 1.05rem;
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

// @font-face {
//   font-family: EncodeSansCondensedBold;
//   src: url("./assets/encode-sans-font/EncodeSansCondensedBold-r7LO.ttf");
// }

// @font-face {
//   font-family: RapidFinger101;
//   src: url("./assets/cooper-hewitt-font/CooperhewittBold-K4BW.ttf");
// }
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: EncodeSansCondensedBold;
  font-size: 1em;
  font-size: min(6vw, 35px);

  // word-wrap: break-word;
  // word-break: break-all;
}

button {
  font-family: EncodeSansCondensedBold;
}



p {
  font-family: EncodeSansCondensedBold;
  color: black;
  // word-break: normal;
  word-break: break-word;
  font-size: min(4vw, 20px);
}

#list {
  background-color: black;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  left: auto;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  /* Footer height */
}

// #logo-icon{
//   .zoom:hover {
//     transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
//   }
// }        






#navbar-text {
  color: black;
  font-weight: bold;
}

#navbar-text:hover {
  text-decoration: underline;
}

#yellowHamburger {
  color: pink;
}

#yellowHamburger:hover {
  color: #a07c07;
}

#teamCard {
  width: 95%;
  margin-bottom: 25px;
  min-width: 275px;
  max-width: 310px;
  background-color: rgb(54, 28, 126);
  border: 1mm ridge pink;
}

#manageCard {
  width: 95%;
  margin-bottom: 25px;
  background-color: rgb(54, 28, 126);
  border: 1mm ridge pink;
  margin-left: auto;
  margin-right: auto;
  min-height: 275px;
  border-radius: 5px;
  // word-break: break-all;
}

.cards {
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 1rem;
}

#mintInput {
  background-color: rgba(54, 45, 3, 0.753);
}


#center-img {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: 0.5s all ease-in-out;

}

#center-img:hover{
  transform: scale(1.25);
}

#center-img-gif {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  transition: 0.5s all ease-in-out;

}

#center-img-gif:hover{
  transform: scale(1.05);
}



#card-free-mints{
  background-color: aliceblue;
  border-radius: 5%;
  max-width: 60%;

}

#card-free-mints:hover{
  background-color: bisque;
  border-radius: 5%;
  max-width: 70%;
  text-decoration: underline;

}

#card-lightblue{
  background-color: aliceblue;
  border-radius: 5%;
  max-width: 60%;
}


#styledText {

  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
}

.yellowHighlight{
  
    background-color: Yellow;
    display: grid;
    justify-content: center;
    justify-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


#card-lightblue:hover{
  background-color: bisque;
  border-radius: 5%;
  transform: scale(1.05);
  text-decoration: underline;

}

#card-free-mints:hover img{
  transform: scale(1.25);


}

#gremlins-img {
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: contain;
  // padding: 3px;
  transition: 0.5s all ease-in-out;

}


#gremlins-img:hover{
  transform: scale(1.25);
}

#card-gremlins {
background-color: #666;

}
#card-cloudz {
  background-color: #666;
  
  }

#cloudz-img {
  // max-width: 100%;
  // max-height: 100%;
  // object-fit: contain;
  // padding: 3px;
  transition: 0.5s all ease-in-out;

}


#cloudz-img:hover{
  transform: scale(1.25);
}



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-gap: 20px;
  padding: 20px;
}


.grid-item {
  // background-color: white;
  // border: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: center;
}
